.header {
    display: flex;
    background-color: rgb(50, 167, 145);
    justify-content: space-between;
    
}

.trybewarts-login {
    display: flex;
}

main {
    display: flex;
}

#evaluation-form {
    display: flex;
    width: 675px;
    flex-direction: column;
}

#input-name, #input-lastname, #input-email {
    width: 300px;
}

#house {
    width: 265px;
    border-radius: 10px;
    background-color: white;
}

#textareas {
    width: 600px;
}

#submit-btn {
    background-color: rgb(92, 0, 128);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 50px;
    background-color:grey;
    padding: 20px;
}

#trybewarts-forms-logo {
    height: 500px;
}