body {
  margin: 0%;
  background-color: rgb(226, 226, 226);
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  height: 80px;
}

.trybewarts-header-logo {
  height: 75px;
  margin-left: 20px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  margin-right: 20px;
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

#emailInput, #senhaInput {
  height: 40px;
  border-radius: 10px;
  width: 180px;
  border: none;
}

#buttonClick {
  height: 43px;
  border-radius: 10px;
  width: 170px;
  background-color: rgb(92, 0, 128);
  color: white;
  font-size: 15px;
  font-weight: 900;
}

main {
  display: flex;
  justify-content: space-around;
}

h2 {
  margin-left: 200px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  box-shadow: inset 0 0 1em gold, 0 0 1em red;
  margin-top: 20px;
  padding: 10px;
}

.name-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
}

#input-name, #input-lastname {
  width: 48%;
  border-radius: 5px;
  border: 1px solid grey;
}

/* 2 */
.emailcasa {
  display: flex;
  margin-top: 12px;
  width: 100%;
  height: 30px;
}

#house-container, #input-email {
  width: 50%;
}

#house {
  height: 35px;
  width: 265px;
  border-radius: 10px;
  background-color: white;
  font-weight: 900;
}

#house-label {
  font-size: large;
  margin-left: 10px;
}

#input-container {
  height: 170px;
  justify-content: space-between;
  display: flex;
}

.family-options {
  display: flex;
  width: 26%;
  flex-direction: column;
  justify-content: space-around;
  font-style: oblique;
  font-weight: 900;
}

.ckeckbox-options {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-around;
  font-style: oblique;
  font-weight: 900;
}

#primeira-div {
  display: flex;
  justify-content: space-around;
}

#segunda-div {
  display: flex;
  justify-content: space-around;
}

#textareas {
  width: 600px;
}

#counter {
  margin-top: 2px;
}

#submit-btn {
  background-color: rgb(92, 0, 128);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: 900;
}

#trybewarts-forms-logo {
  height: 500px;
}

#more-options {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
}

#first-content, #second-content {
  display: flex;
}

.label-content {
  display: flex;
}

hr {
  height: 1px;
  width: 100%;
  border: none;
  background-color: rgb(163, 163, 163);
  margin-top: 20px;
  margin-bottom: 20px;
}

#label-rate {
  font-weight: 900;
  font-style: oblique;
}

.avaliação {
  display: flex;
  margin-bottom: 20px;
}

.avaliação input {
  margin-left: 20px;
}

.textarea {
  font-weight: 900;
  font-style: oblique;
}

footer {
  text-align: center;
  background-color: rgb(66, 66, 66);
  padding: 15px;
  color: white;
  font-weight: 900;
  margin-bottom: 5px;
}
